h2{
    color:red;
}
a{
    text-decoration: none;
    cursor:grab;
}
#first{
    color:blue;
}
.fir{
    color:blueviolet;
}
.box{
    color:brown;
    margin:5px;
    padding:5px;
    border-style:dotted;
    display:flex;
    justify-content:center;
}

